.before-copyright:before{
  content: '';
  position: absolute;
  left: 0;
  width: 100vw;
  height: 1px;
  background-color: black;
}
.before-copyright p{
  margin: 0;
}
.bi{
  display: inline-block;
  width: 20px;
  height: 20px;
}
@media (min-width: 1024px) {
  .main-carousel, .main-carousel img{
    margin: auto;
    max-width: 90%;
    max-height: 50vh;
    object-fit: fill;
  }
}
